# Python
venv/
__pycache__/
*.pyc
.env

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
wheels/
